.account {
    width: 90%;
    margin: 30px auto;

    font-family: sans-serif;
    &__main-info {
        width: 100%;
    }
    &__photo {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 196, 0.418);
        border: 50%;
    }
    &__user-name {
        text-transform: uppercase;
        margin-left: 20px;
    }
    &__status {
        margin-left: 20px;
        color: yellowgreen;
    }
    &__all-info {
        width: 100%;
        margin-top: 20px;
    }
    &__ittem {
        &--title {
            color: rgba(0, 0, 196, 0.418);
        }
        &,
        p {
            margin: 5px 0;
        }
    }
}
